.header{
    color: red;
    text-align: center;
    padding: 1em;
    border: 5px solid black;
    width: 12em;
    margin: 2em;
    display:inline-block;
}

.PrimaryColor{
    color: rgb(226, 145, 45);
}

.HelloText{
    background-color:rgb(193, 193, 193);
    border: 2px;
    border-color: grey;
}

.HelloText h1 {
    font-size: 75px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

.HelloText h2{
    color: grey;
    font-size: 25px;
    text-align: left;
    position: relative;
    bottom: 40px;
}

.HelloText h4{
    border: 2px solid black;
    text-align: left;
    width: 50%;
    background-color: white;
    display: inline-block;
    position: relative;
    right: 200px;
    padding: 20px;
    bottom: 200px;
}

.flex-container {
    display: flex;
}

.tablinks ul {
    text-align: right;
    word-spacing: 30px;
    position: relative;
    bottom: 6em;
}

.tablinks li {
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
}

.logobox h3 {
    border: 5px;
    border-color: black;
    border-style: solid;
    padding: 25px;
    width: 170px;
    font-family: 'Abril Fatface', cursive;
    display: inline-block;
}

.BigText{
    font-size: 42px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    position: relative;
    bottom: 4em;
    right: 2em;
}

.SubText{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    bottom: 7em;
    right: 2em;
    font-size: 40px;

}

